@use "../helpers" as *;

.about-card {
  @include flex-column(20);

  height: 100%;
  row-gap: fluid(20, 10);

  &__title {
    display: flex;
    align-items: center;
    @include fluid-text(22, 16);

    font-family: var(--font-famili-base);
    font-weight: 600;
    min-height: var(--circleSize);
  }
}
