@use "../helpers" as *;

.accordion {
  padding: rem(34);

  @include laptop {
    padding: rem(24);
  }

  &__details {
    &[open] {
      .accordion__title {
        &::after,
        &::before {
          background-color: var(--color-light);
        }

        &::after {
          rotate: 0deg;
        }
      }

      & + .accordion__content {
        grid-template-rows: 1fr;
      }
    }
  }

  &__summary {
    color: var(--color-light);
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
    cursor: pointer;

    @include hover {
      color: var(--color-accent);
    }
  }

  &__title {
    position: relative;
    padding-right: rem(50);
    color: inherit;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      right: 0;

      content: "";
      width: rem(16);
      height: rem(2);
      background-color: var(--color-accent);
      border-radius: 1rem;
      transition-duration: 0.1s;
    }

    &::after {
      rotate: 90deg;
    }
  }

  &__content {
    --offsetTop: #{fluid(24, 16)};

    display: grid;
    grid-template-rows: 0fr;
    transition-duration: 0.3s;

    &-inner {
      overflow: hidden;
    }

    &-body {
      margin-top: var(--offsetTop);
      padding-top: var(--offsetTop);
      border-top: var(--border);
    }
  }
}
