@use "../helpers" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: rem(18) rem(24);
  border: var(--border);
  border-radius: rem(12);
  font-size: rem(18);
  color: var(--color-grey-60);
  background-color: var(--color-dark);
  cursor: pointer;

  @include laptop {
    padding: rem(14) rem(20);
    font-size: rem(14);
    border-radius: rem(8);
  }

  @include hover {
    border-color: var(--color-accent);
    color: var(--color-accent);
  }

  &--accent {
    background-color: var(--color-accent);
    font-weight: 500;
    color: var(--color-dark);
    border-color: var(--color-accent);
    border-radius: rem(8);

    @include hover {
      background-color: var(--color-dark-10);
      color: var(--color-accent);
      border-color: var(--color-accent);
    }
  }

  &--dark-grey {
    background-color: var(--color-dark-10);
  }
}
