@use "../helpers" as *;

.hero-alt {
  border-bottom: var(--border);

  &__header {
    padding-top: fluid(130, 40);
    padding-bottom: fluid(150, 40);
    border-bottom: var(--border);

    &-inner {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;

      row-gap: rem(20);
      column-gap: rem(80);

      @include laptop {
        column-gap: rem(60);
      }

      @include mobile {
        row-gap: rem(14);
        grid-template-columns: 1fr;
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    grid-column: span 2;

    &-hidden-part {
      @include mobile-above {
        @include visually-hidden;
      }
    }
  }

  &__discription {
    display: inline-flex;
    align-items: center;
  }
}
