@use "../helpers" as *;

.summary {
  &--2-cols {
    .summary__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(30) rem(20);

      @include laptop {
        row-gap: rem(20);
      }
    }
  }

  &__list {
    display: flex;
    column-gap: fluid(50, 20);

    @include laptop {
      column-gap: fluid(30, 20);
    }
  }

  &__item {
    @include flex-column(4);

    @include laptop {
      row-gap: rem(2);
    }

    &--wide {
      margin-top: rem(20);
      grid-column: -1/1;
      row-gap: fluid(16, 10);
    }
  }

  &__value {
    color: var(--color-light);
  }
}
