@use "../helpers" as *;

.tile {
  padding: fluid(40, 24);
  background-color: var(--color-dark-10);
  border: var(--border);
  border-radius: rem(12);

  @include laptop {
    border-radius: rem(10);
  }

  &--20 {
    padding: rem(30);

    @include laptop {
      padding: rem(24);
    }
    @include mobile {
      padding: rem(20);
    }
  }
}
