@use "../helpers" as *;

.video-card {
  display: flex;
  flex-direction: column;
  row-gap: rem(30);
  align-items: start;
  height: 100%;

  @include laptop {
    row-gap: rem(20);
  }

  &__body {
    display: grid;
    row-gap: fluid(10, 4);
    flex-grow: 1;
  }
}
